{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/css/all.css'%}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light bg-white">
      <div class="container-fluid">
        <button class="menu-icon-btn" data-menu-icon-btn>
          <span class="navbar-toggler-icon"></span>
        </button>
        
          <div class="dropdown ms-1 ms-auto">
              <a class="avatar avatar-sm nav-link p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="avatar-img rounded-circle" width="40" src="{% static 'img/logo_terdu.png' %}" alt="avatar">
                Boltayev Jahongir
              </a>
              <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                <!-- Profile info -->
               
                <!-- Links -->
                <li><a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Edit Profile</a></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> Account Settings</a></li>
                <li> <hr class="dropdown-divider"></li>
                <li><a class="dropdown-item bg-danger-soft-hover" href="#"><i class="fas fa-sign-out-alt me-2"></i>Sign Out</a></li>

                <!-- Dark mode switch START -->
               
                <!-- Dark mode switch END -->
              </ul>
            </div>
          
          
       
      </div>
    </nav>
    
    </header>
    <div class="container-fluid d-flex">
    <aside class="sidebar open" data-sidebar>
      
      <div class="top-sidebar">
        <a href="#" class="channel-logo"><img src="{% static 'img/logo_terdu.png' %}" alt="Channel Logo"></a>
        <div class="hidden-sidebar your-channel">Camera Control</div>
        <div class="hidden-sidebar channel-name">Raqamli texnologiyalar markazi</div>
      </div>
      <div class="middle-sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item active">
            <a href="#" class="sidebar-link">
              <i class="fas fa-home fa-lg"></i>
              <div class="hidden-sidebar">Dashboard</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <i class="fas fa-chart-bar fa-lg"></i>
              <div class="hidden-sidebar">Analytics</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="about-camera.html" class="sidebar-link">
              <i class="fas fa-video fa-lg"></i>
              <div class="hidden-sidebar">Nazorat punkti</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <i class="fas fa-video fa-lg"></i>
              <div class="hidden-sidebar">Karidorlar</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <i class="fas fa-video fa-lg"></i>
              <div class="hidden-sidebar">Auditoriyalar</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <i class="fas fa-video fa-lg"></i>
              <div class="hidden-sidebar">Ma'ruza zallari</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <i class="fas fa-video fa-lg"></i>
              <div class="hidden-sidebar">Bino tashqarisi</div>
            </a>
          </li>
           
          <!--<li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon"><g><path d="M20 2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"></path></g></svg>
              <div class="hidden-sidebar">Comments</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon"><g><path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM4 12h4v2H4v-2zm10 6H4v-2h10v2zm6 0h-4v-2h4v2zm0-4H10v-2h10v2z"></path></g></svg>
              <div class="hidden-sidebar">Subtitles</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon"><g><path d="M10.08 10.86c.05-.33.16-.62.3-.87s.34-.46.59-.62c.24-.15.54-.22.91-.23.23.01.44.05.63.13.2.09.38.21.52.36s.25.33.34.53.13.42.14.64h1.79c-.02-.47-.11-.9-.28-1.29s-.4-.73-.7-1.01-.66-.5-1.08-.66-.88-.23-1.39-.23c-.65 0-1.22.11-1.7.34s-.88.53-1.2.92-.56.84-.71 1.36S8 11.29 8 11.87v.27c0 .58.08 1.12.23 1.64s.39.97.71 1.35.72.69 1.2.91 1.05.34 1.7.34c.47 0 .91-.08 1.32-.23s.77-.36 1.08-.63.56-.58.74-.94.29-.74.3-1.15h-1.79c-.01.21-.06.4-.15.58s-.21.33-.36.46-.32.23-.52.3c-.19.07-.39.09-.6.1-.36-.01-.66-.08-.89-.23-.25-.16-.45-.37-.59-.62s-.25-.55-.3-.88-.08-.67-.08-1v-.27c0-.35.03-.68.08-1.01zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path></g></svg>
              <div class="hidden-sidebar">Copyright</div>
            </a>
          </li> -->
          
          <!-- <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon"><g><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"></path></g></svg>
              <div class="hidden-sidebar">Audio Library</div>
            </a>
          </li> -->
        </ul>
      </div>
      <div class="bottom-sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon"><g><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path></g></svg>
              <div class="hidden-sidebar">Settings</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon"><g><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"></path></g></svg>
              <div class="hidden-sidebar">Send Feedback</div>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <main class="content">
      <section class="">
        <div class="container-fluid">
          <div class="row g-4 text-white">
            <!-- Counter item -->
            <div class="col-sm-6 col-xl-3">
              <div class="d-flex justify-content-center align-items-center p-4 bg-success bg-opacity-15 rounded-3">
                <span class="display-6 lh-1 text-info mb-0"></span><i class="fas fa-video fa-3x"></i>
                <div class="ms-4 h6 fw-normal">
                  <div class="d-flex">
                    <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="6" data-purecounter-delay="300" data-purecounter-duration="0">500</h5>
                    <span class="mb-0 h5">+</span>
                  </div>
                  <p class="mb-0">Kameralar</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
                <span class="display-6 lh-1 text-warning mb-0"></span><i class="fas fa-user-tie fa-3x"></i>
                <div class="ms-4 h6 fw-normal">
                  <div class="d-flex">
                    <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-delay="200" data-purecounter-duration="0">25</h5>
                    <span class="mb-0 h5">K+</span>
                  </div>
                  <p class="mb-0">Online Courses</p>
                </div>
              </div>
            </div>
            <!-- Counter item -->
            <div class="col-sm-6 col-xl-3">
              <div class="d-flex justify-content-center align-items-center p-4 bg-primary bg-opacity-15 rounded-3">
                <span class="display-6 lh-1 text-blue mb-0"></span><i class="fas fa-building fa-3x"></i>
                <div class="ms-4 h6 fw-normal">
                  <div class="d-flex">
                    <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="200" data-purecounter-delay="200" data-purecounter-duration="0">400</h5>
                    <span class="mb-0 h5">+</span>
                  </div>
                  <p class="mb-0">Auditoriyalar</p>
                </div>
              </div>
            </div>
            <!-- Counter item -->
            <div class="col-sm-6 col-xl-3">
              <div class="d-flex justify-content-center align-items-center p-4 bg-danger bg-opacity-15 rounded-3">
                <span class="display-6 lh-1 text-purple mb-0"><i class="fas fa-user-graduate"></i></span>
                <div class="ms-4 h6 fw-normal">
                  <div class="d-flex">
                    <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="60" data-purecounter-delay="200" data-purecounter-duration="0">15</h5>
                    <span class="mb-0 h5">K+</span>
                  </div>
                  <p class="mb-0">O'qituvchilar</p>
                </div>
              </div>
            </div>
            <!-- Counter item -->

          </div>

      
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/script.js'%} defer"></script>


</body>
</html>